secret_key: '*************************'
mysql:
  database: 'xxx'
  username: 'xxx'
  password: 'xxx'
  host: 'xx.xx.xx.xx'
  port: 3306
  charset: 'utf8'

email:
  host: 'xxxx.xxx.com'
  port: 25
  host_user: 'xxx@xxx.com'
  host_password: 'xxxxxx'
  use_tls: no
  from: 'xxx@xxx.com'

media:
  url: '/xxxx/'
  root: 'xxxx'

static:
  url: '/xxxxx/'
  root: '/xxxxx/'