debug: "yes"
#debug: no
secret_key: '#ouxxxxxxxvh(k5txxxxxxxxxr#*h$v3287*kke#'

mysql:
  database: 'hfonline'
  username: 'xxxxxxxx'
  password: 'xxxxxxxx'
  host: '127.0.0.1'
  port: 3306
  charset: 'utf8'

email:
  host: 'smtp.163.com'
  port: 25
  host_user: 'hackfunjiang@163.com'
  host_password: 'xxxxxxxx'
  use_tls: "no"
  from: 'hackfunjiang@163.com'

media:
  url: '/media/'
  root: ''

static:
  url: '/static/'
  root: '/static/'